<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .form-container {
            background-color: #ecf6fe; /* Light grey background */
            border-radius: 15px; /* Rounded corners */
            padding: 30px; /* Padding inside the container */
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
        }
      /* Remove default margin on body and ensure full viewport height without scrolling */
      body, html {
          margin: 0;
          padding: 0;
          min-height: 100vh;
          background-color: #ffffffff;
      }

  </style>
  </head>

<body>
  {% include 'navbar.html' %}
<br>



  <div class="container d-flex justify-content-center align-items-center">
    <div class="form-container col-md-8 col-lg-6 mb-2">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group row mb-2">
                <label for="SorP" class="col-sm-3 col-form-label">Entry type</label>
                <div class="col-sm-9">
                    <select name="SorP" id="SorP" class="form-control">
                      <option value="purchase">purchase</option>
                      <option value="stock_Movement">stock_Movement</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="date" id="date" placeholder="Date">
                </div>
            </div>
            <div class="form-group row mb-2">
              <label for="mr_mh_no" class="col-sm-3 col-form-label">MR or MH no</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" name="mr_mh_no" id="mr_mh_no" placeholder="MR or MH no">
              </div>
          </div>
          <div class="form-group row mb-2">
            <label for="item" class="col-sm-3 col-form-label">Item</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="item" id="item" placeholder="item">
            </div>
        </div>
        <div class="form-group row mb-2">
          <label for="unit_of_measure" class="col-sm-3 col-form-label">Unit of Measure</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" name="unit_of_measure" id="unit_of_measure" placeholder="unit_of_measure">
          </div>
      </div>
         <div class="form-group row mb-2">
          <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" name="quantity" id="quantity" placeholder="quantity">
          </div>
      </div> 
      <div class="form-group row mb-2">
        <label for="supplier_name" class="col-sm-3 col-form-label">Supplier name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="supplier_name" id="supplier_name" placeholder="supplier_name">
        </div>
    </div>   
    <div class="form-group row mb-2">
      <label for="project_no" class="col-sm-3 col-form-label">Project no</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" name="project_no" id="project_no" placeholder="project_no">
      </div>
  </div>    
  <div class="form-group row mb-2">
    <label for="invoice_no" class="col-sm-3 col-form-label">Invoice no</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="invoice_no" id="invoice_no" placeholder="invoice_no">
    </div>
</div>   
            <div class="form-group row mb-2">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Emter</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- </div> -->




</body>
</html>
